openapi: 3.0.3
info:
  description: "Billsby is a feature-rich \"Saas\" recurring payment platform, ranked\
    \ as the leading subscription billing software by G2.\n\nBillsby is designed to\
    \ ensure customers can go live quickly, often within 1-2 hours.  To help facilitate\
    \ this process we have a team of friendly knowledgeable advisors ready to help\
    \ your business go live.    \n\nBillsby specializes in providing great customer\
    \ service at an affordable price point - our technology is rated No 1 on G2 by\
    \ our customers.\n\nIf you are a developer creating a solution for your customer,\
    \ Billsby has a friendly well-documented API.  The Billsby team are here to provide\
    \ support to developers in order to ensure a smooth migration or new system build.\
    \ \n\nWhy not book a call, talk through your Billing requirements and we can let\
    \ you know how we can help you transform your business.."
  title: Billsby API
  version: 1.3.5
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://public.billsby.com/api/v1/rest/core
security:
- sec0: []
tags:
- name: Customer
- name: Subscription
- name: Invoice
- name: Product
- name: CustomField
- name: Addon
- name: Allowance
- name: Creditnote
paths:
  /{companyDomain}/customers:
    get:
      deprecated: false
      description: ""
      operationId: Customer_listCustomers
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The page of customers you would like to view
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of records to return per page (max 100)
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Filter customers by name (this can be a partial name)
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "customerUniqueId": "string",
                          "firstName": "mary",
                          "lastName": "quinn",
                          "email": "mary.quinn@mistimail.com",
                          "createdOn": "2020-04-29T10:08:39.320Z",
                          "status": "active"
                          "phoneNumber": null,
                          "phoneNumberDialCode": null,
                          "phoneNumberDialCodeCountry": null,
                          "billingAddress": {
                          "addressLine1": "23 Turnabout Road",
                          "addressLine2": "Sevenoaks",
                          "city": "Surrey",
                          "country": "USA",
                          "state": "Kent",
                          "postCode": "KN2 6WH"
                                }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/CustomerListCustomersResponse'
          description: "200"
      summary: List customers
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Customer_createWithoutSubscription
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateWithoutSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string"
                    }
              schema:
                $ref: '#/components/schemas/CustomerCreateWithoutSubscriptionResponse'
          description: "200"
      summary: Create without subscription
      tags:
      - Customer
      x-readme:
        code-samples:
        - language: text
          code: "{\n  \"addressLine1\": \"23 Turnabout Road\",\n  \"addressLine2\"\
            : \"Woodingdean\",\n  \"city\": \"Brighton\",\n  \"state\": \"East Sussex\"\
            ,\n  \"country\": \"GBR\",\n  \"postCode\": \"BN3 4WH\",\n  \"firstName\"\
            : \"Robert\",\n  \"lastName\": \"Dowling\",\n  \"email\": \"robert.dowling@mistimail.com\"\
            ,\n  \"cardDetails\": {\n    \"fullname\": \"Robert Dowling\"  \n    \"\
            paymentCardToken\": \"string\",\n    \"expiryMonth\": 05,\n    \"expiryYear\"\
            : 2020,\n    \"cardType\": \"1\",\n    \"last4Digits\": \"1547\"\n  }\n\
            }"
        samples-languages:
        - text
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-customers
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}:
    delete:
      deprecated: false
      description: ""
      operationId: Customer_deleteById
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: Success
              schema:
                $ref: '#/components/schemas/CustomerDeleteByIdResponse'
          description: "200"
      summary: Delete a customer
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companyDomain-customers-customerUniqueId
      x-accepts: application/json
    get:
      deprecated: false
      description: This query gets individual customer details using the unique identifier
        provided in the Billsby platform
      operationId: Customer_getDetails
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "companyCurrency": "string",
                      "totalAmountPaid": "440",
                      "averageAmountPerMonth": "20",
                      "cardStatus": "active",
                      "customerUniqueId": "6ZY37ULDEF",
                      "firstName": "Mary",
                      "lastName": "quinn",
                      "billingAddress": {
                        "addressLine1": "20 Woodfood Road",
                        "addressLine2": "Saltdean",
                        "state": "Brighton",
                        "city": "Brighton",
                        "country": "England",
                        "postCode": "BN3 4GH"
                      },
                      "email": "mary.quinn@mistimail.com",
                      "additionalEmail": "marymay@mistimail.com",
                      "phoneNumberDialCountry": "england",
                      "phoneNumberDialCode": "+1",
                      "phoneNumber": "07822839281",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2020-04-29T10:16:25.474Z",
                      "status": "active"
                    }
              schema:
                $ref: '#/components/schemas/CustomerGetDetailsResponse'
          description: "200"
      summary: Customer details
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers-customerUniqueId
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Customer_updateDetails
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDetailsRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerId": "6DK82SKD",
                      "firstName": "mary",
                      "lastName": "quinn",
                      "billingAddress": {
                        "addressLine1": "32 woodford road",
                        "addressLine2": "saltdean",
                        "state": "brighton",
                        "city": "brighton",
                        "country": "USA",
                        "postCode": "BN3 6HE"
                      },
                      "email": "mary.quinn@mistmail.com",
                      "additionalEmail": "marymay@mistimail.com",
                      "phoneNumberDialCountry": "USA",
                      "phoneNumberDialCode": "+1",
                      "phoneNumber": "07283928192",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2019-09-03T13:31:55.138Z",
                      "uniqueId": "AHD12QR4"
                    }
              schema:
                $ref: '#/components/schemas/CustomerUpdateDetailsResponse'
          description: "200"
      summary: Update customer
      tags:
      - Customer
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "firstName": "David",
              "lastName": "Smith",
              "email": "david.smith@mistimail.com",
              "phoneNumberDialCountry": "UK",
              "phoneNumberDialCode": "1",
              "phoneNumber": "2015552810",
              "billingAddress": {
                "addressLine1": "23 Turnabout Road",
                "addressLine2": "Sevenoaks",
                "state": "Kent",
                "city": "Surrey",
                "country": "USA",
                "postCode": "KN2 6WH"
              }
            }
        samples-languages:
        - text
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-customers-customerUniqueId
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/subscriptions:
    get:
      deprecated: false
      description: This query gets individual customer's subscriptions using the unique
        identifier provided in the Billsby platform
      operationId: Customer_getSubscriptionsByUniqueId
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "subscriptionId": "string",
                        "productId": 0,
                        "productName": "string",
                        "planId": 0,
                        "planName": "string",
                        "status": "string",
                        "currency": "string",
                        "revenue": "string",
                        "nextBilling": "2020-04-29T10:46:39.498Z",
                        "createdOn": "2020-04-29T10:46:39.498Z",
                        "units": 0
                      }
                    ]
              schema:
                $ref: '#/components/schemas/CustomerGetSubscriptionsByUniqueIdResponse'
          description: "200"
      summary: Customer subscriptions
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers-customerUniqueId-subscriptions
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Customer_addSubscriptionToExistingCustomer
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAddSubscriptionToExistingCustomerRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string",
                      "subscriptionUniqueId": "string"
                    }
              schema:
                $ref: '#/components/schemas/CustomerAddSubscriptionToExistingCustomerResponse'
          description: "200"
      summary: Add subscription to existing customer
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-customers-customerUniqueId-subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/subscriptions/featuretags:
    get:
      deprecated: false
      description: ""
      operationId: Customer_getFeatureTags
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      "pro-plan"
                    ]
              schema:
                $ref: '#/components/schemas/CustomerGetFeatureTagsResponse'
          description: "200"
      summary: Customer feature tags
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers-customerUniqueId-subscriptions-featuretags
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/invoices/{invoiceNumber}/paymentlogs:
    get:
      deprecated: false
      description: ""
      operationId: Invoice_getPaymentLogs
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the invoice in the Billsby platform
        explode: false
        in: path
        name: invoiceNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "paymentLogId": 0,
                        "createdOn": "2020-04-29T14:02:11.138Z",
                        "gatewayId": 0,
                        "gatewayName": "string",
                        "reference": "string",
                        "paymentMethod": "string",
                        "status": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/InvoiceGetPaymentLogsResponse'
          description: "200"
      summary: Customer payment logs
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers-customerUniqueId-invoices-invoiceNumber-paymentlogs
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/paymentdetailsrequest:
    get:
      deprecated: false
      description: ""
      operationId: Customer_updatePaymentDetailsRequest
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
              schema:
                $ref: '#/components/schemas/CustomerUpdatePaymentDetailsRequestResponse'
          description: "200"
      summary: Request to update payment details
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers-customerUniqueId-paymentdetailsrequest
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/paymentCard:
    put:
      deprecated: false
      description: ""
      operationId: Customer_updatePaymentCardToken
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdatePaymentCardTokenRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: Success
              schema:
                $ref: '#/components/schemas/CustomerUpdatePaymentCardTokenResponse'
          description: "200"
      summary: Update payment card token
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-customers-customerUniqueId-paymentCard
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/invoices:
    get:
      deprecated: false
      description: This query gets individual customer's invoices
      operationId: Invoice_getCustomerInvoices
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "invoiceId": 0,
                        "createdOn": "2020-04-30T10:47:05.886Z",
                        "invoiceNumber": "string",
                        "amount": 0,
                        "refundableAmount": 0,
                        "formattedAmount": "£0",
                        "formattedAmount": "string",
                        "currency": "string",
                        "linkedTransactionsCount": 0,
                        "status": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/InvoiceGetCustomerInvoicesResponse'
          description: "200"
      summary: Customer invoices
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers-customerUniqueId-invoices
      x-accepts: application/json
    post:
      deprecated: false
      description: This query creates a one-time charge for an individual customer
      operationId: Invoice_createOneTimeCharge
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateOneTimeChargeRequest'
      responses:
        "200":
          content:
            text/plain:
              examples:
                Result:
                  value: "true"
              schema:
                $ref: '#/components/schemas/InvoiceCreateOneTimeChargeResponse'
          description: "200"
      summary: Create a one-time charge
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-customers-customerUniqueId-invoices
      x-content-type: application/json
      x-accepts: text/plain
  /{companyDomain}/customers/{customerUniqueId}/gdprcleanup:
    put:
      deprecated: false
      description: ""
      operationId: Customer_clearGdprData
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "companyCurrency": "string",
                      "totalAmountPaid": "string",
                      "averageAmountPerMonth": "string",
                      "cardStatus": "string",
                      "customerTaxRegNumber": "",
                      "customerUniqueId": "VL9GGID9ZE,"
                      "firstName": "string",
                      "lastName": "string",
                      "billingAddress": {
                        "addressLine1": "string",
                        "addressLine2": "string",
                        "state": "string",
                        "city": "string",
                        "country": "string",
                        "postCode": "string"
                      },
                      "email": "string",
                      "additionalEmail": "string",
                      "phoneNumberDialCountry": "string",
                      "phoneNumberDialCode": "string",
                      "phoneNumber": "string",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2019-11-08T14:27:51.469Z",
                      "uniqueId": "string",
                      "status": "string"
                    }
              schema:
                $ref: '#/components/schemas/CustomerClearGdprDataResponse'
          description: "200"
      summary: Clear customer data (GDPR)
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-customers-customerUniqueId-gdprcleanup
      x-accepts: application/json
  /{companyDomain}/subscriptions:
    get:
      deprecated: false
      description: This query gets a list of all of the subscriptions in your account
        with their subscription IDs so that you can later lookup individual subscriptions
      operationId: Subscription_listSubscriptions
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The page of customers you would like to view
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of records to return per page
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: You can order the subscriptions by any of the subscription object
          properties (e.g. CreatedOn to sort by date of creation)
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "The ordering direction of the previously set property (e.g.\
          \ Descending in CreatedOn will sort from newest to oldest, non-descending\
          \ from oldest to newest)"
        explode: true
        in: query
        name: orderByDescending
        required: false
        schema:
          type: string
        style: form
      - description: Will show only the subscriptions that are active
        explode: true
        in: query
        name: isActive
        required: false
        schema:
          type: boolean
        style: form
      - description: Will show only the subscriptions that are in free trial
        explode: true
        in: query
        name: isInFreeTrial
        required: false
        schema:
          type: boolean
        style: form
      - description: Will show only the subscriptions that has products whose names
          matches the value provided here
        explode: true
        in: query
        name: productName
        required: false
        schema:
          type: string
        style: form
      - description: Will show only the subscriptions that has plans whose names matches
          the value provided here
        explode: true
        in: query
        name: planName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "subscriptionId": 10,
                          "subscriptionUniqueID": "GAFD660",
                          "customerId": 10,
                          "customerUniqueId": "VKQRJFLZNV",
                          "customerEmail": "maryf@mistimail.com",
                          "customerFullname": "Mary",
                          "planId": "82",
                          "planName": "Premium",
                          "productId": "44",
                          "productName": "Plus",
                          "createdOn": "2019-08-29T09:40:27.590Z",
                          "status": "Active",
                          "isInFreeTrial": false
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionListSubscriptionsResponse'
          description: "200"
      summary: List subscriptions
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-subscriptions
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Customer_createNewCustomerAndSubscription
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateNewCustomerAndSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string",
                      "subscriptionUniqueId": "string"
                    }
              schema:
                $ref: '#/components/schemas/CustomerCreateNewCustomerAndSubscriptionResponse'
          description: "200"
      summary: Create new customer and subscription
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/subscriptions/{subscriptionUniqueId}:
    delete:
      deprecated: false
      description: Cancel an individual subscription using the unique identifier of
        the subscription in the Billsby platform
      operationId: Subscription_cancelSubscription
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: true
        in: query
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/SubscriptionCancelSubscriptionResponse'
          description: "200"
      summary: Cancel a subscription
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companyDomain-subscriptions-subscriptionUniqueId
      x-accepts: application/json
    get:
      deprecated: false
      description: This query gets individual subscription details using the unique
        identifier provided in the Billsby platform
      operationId: Subscription_getDetails
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  companyCurrency: \"USD\",\n  contractMinimumTermEnd:\
                    \ null,\n  createdOn: \"2020-12-21T15:59:19.095789\",\n  currency:\
                    \ \"USD\",\n  customerEmail: \"mary.smith@mistimail.com\",\n \
                    \ customerFullname: \"Mary Smith\",\n  customerId: 243,\n  customerUniqueId:\
                    \ \"8WER0F4J1R\",\n  cycleId: 28,\n  cycleIdNext: null,\n  isBillingAddressValidationRequired:\
                    \ false,\n  isShippingAddressRequired: false,\n  isShippingAddressValidationRequired:\
                    \ false,\n  nextBillingAmount: 4000,\n  nextBillingAmountFormatted:\
                    \ \"$40\",\n  nextBillingDate: \"2021-01-01T15:59:19.095789\"\
                    ,\n  nextCycleRecurringBillingAmount: \"$40\",\n  nextPlanPricingModel:\
                    \ null,\n  planId: 26,\n  planIdNext: null,\n  planName: \"First\
                    \ Plan\",\n  planPricingModel: {\n  \tbillingDateType: \"FixedDayEachMonth\"\
                    ,\n    contractTerm: null,\n    contractTermFrequencyType: \"\
                    Unassigned\",\n    fixedBillingDateDay: 1,\n    fixedBillingDateMonth:\
                    \ null,\n    freeQuantity: 0,\n    freeTrial: null,\n    freeTrialFrequencyType:\
                    \ \"Unassigned\",\n    frequency: 1,\n    frequencyType: \"Monthly\"\
                    ,\n    pricingModelId: 129,\n    proRateOption: \"ProRateBasedOnDaysRemaining\"\
                    ,\n    setupFeePrice: null,\n    setupFeePriceFormatted: null,\n\
                    \    tiers: []\n  },\n  productId: 5,\n  productName: \"First\
                    \ product\",\n  productVisibility: \"Public\",\n  status: \"Active\"\
                    ,\n  subscriptionId: 114,\n  subscriptionUniqueId: \"Y7MX4G314L\"\
                    ,\n  totalRevenue: 1446,\n  totalRevenueFormatted: \"$14.46\"\
                    ,\n  units: 1,\n  unitsNext: null,\n  visibility: \"Public\"\n\
                    }"
              schema:
                $ref: '#/components/schemas/SubscriptionGetDetailsResponse'
          description: "200"
      summary: Subscription details
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-subscriptions-subscriptionUniqueId
      x-accepts: application/json
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/shippingAddress:
    get:
      deprecated: false
      description: This query gets individual subscription details using the unique
        identifier provided in the Billsby platform
      operationId: Subscription_getShippingAddress
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "addressLine1": "20 Woodfoord Road",
                      "addressLine2": "Saltdean",
                      "state": "Brighton",
                      "city": "Brighton",
                      "country": "England",
                      "postCode": "BN3 4GH"
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionGetShippingAddressResponse'
          description: "200"
      summary: Shipping address
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-subscriptions-subscriptionUniqueId-shippingAddress
      x-accepts: application/json
    put:
      deprecated: false
      description: Update the shipping address for a subscription
      operationId: Subscription_updateShippingAddress
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateShippingAddressRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateShippingAddressResponse'
          description: "200"
      summary: Update subscription shipping address
      tags:
      - Subscription
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "addressLine1": "string",
              "addressLine2": "string",
              "state": "string",
              "city": "string",
              "country": "string",
              "postCode": "string"
            }
        samples-languages:
        - text
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-subscriptions-subscriptionUniqueId-shippingAddress
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/tags:
    get:
      deprecated: false
      description: This query returns a list of feature tags in a subscription
      operationId: Subscription_listTagsBySubscription
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      "pro-plan"
                    ]
              schema:
                $ref: '#/components/schemas/SubscriptionListTagsBySubscriptionResponse'
          description: "200"
      summary: Feature tags by Subscription
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-subscriptions-subscriptionUniqueId-tags
      x-accepts: application/json
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/tags/split:
    get:
      deprecated: false
      description: Returns a list of feature tags in a subscription split by plan
        tags and custom tags
      operationId: Subscription_featureTagsSplit
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "planFeatureTags": [
                        "string"
                      ],
                      "subscriptionFeatureTags": [
                        "string"
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionFeatureTagsSplitResponse'
          description: "200"
      summary: Feature tags by plan and custom tags
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-subscriptions-subscriptionUniqueId-tags-split
      x-accepts: application/json
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/logs:
    get:
      deprecated: false
      description: This query returns the event logs of a subscription
      operationId: Subscription_getEventLogs
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      - description: The page of customers you would like to view
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of records to return per page (max 100)
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "subscriptionEventLogId": 0,
                          "type": "string",
                          "createdOn": "2019-09-10T10:37:24.680Z",
                          "eventData": {}
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionGetEventLogsResponse'
          description: "200"
      summary: Event logs
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-subscriptions-subscriptionUniqueId-logs
      x-accepts: application/json
  /{companyDomain}/subscriptions/tags:
    post:
      deprecated: false
      description: You can add feature tags to existing subscriptions using the unique
        subscription IDs
      operationId: Subscription_addFeatureTags
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAddFeatureTagsRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
              schema:
                $ref: '#/components/schemas/SubscriptionAddFeatureTagsResponse'
          description: "200"
      summary: Add feature tags
      tags:
      - Subscription
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "subscriptionUniqueIds": [
                "string"
              ],
              "tagNames": [
                "string"
              ]
            }
        samples-languages:
        - text
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-subscriptions-tags
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/plan:
    put:
      deprecated: false
      description: Change the plan that a subscription sits on
      operationId: Subscription_changePlan
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Request Example:
                value:
                  planId: 10
                  cycleId: 10
                  customerUniqueId: A1B2C3D4
                  planChangeType: 1
                  units: 0
                  addOns:
                  - addOnId: 1
                    quantity: 3
                  - addOnId: 2
                    quantity: 5
                  allowances:
                  - 1
                  - 22
                  - 402
                  issueRefund: false
            schema:
              $ref: '#/components/schemas/SubscriptionChangePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/SubscriptionChangePlanResponse'
          description: "200"
      summary: Change plan
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-subscriptions-subscriptionUniqueId-plan
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/subscriptions/tags/{tagname}:
    delete:
      deprecated: false
      description: Delete a custom feature tag from a list of subscriptions
      operationId: Subscription_removeFeatureTag
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the custom feature tag you would like to delete
        explode: false
        in: path
        name: tagname
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: true
        in: query
        name: subsId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
              schema:
                $ref: '#/components/schemas/SubscriptionRemoveFeatureTagResponse'
          description: "200"
      summary: Delete feature tag
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companyDomain-subscriptions-tags-tagname
      x-accepts: application/json
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/renewaldate:
    put:
      deprecated: false
      description: ""
      operationId: Subscription_updateRenewalDate
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the subscription in the Billsby platform
        explode: false
        in: path
        name: subscriptionUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateRenewalDateRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateRenewalDateResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateRenewalDate400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update next renewal date
      tags:
      - Subscription
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "pauseSubscription": true,
              "newRenewalDate": "2019-09-10T10:37:24.680Z",
            }
        samples-languages:
        - text
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-subscriptions-subscriptionUniqueId-renewaldate
      x-content-type: application/json
      x-accepts: application/json
  /invoices/{invoiceNumber}:
    get:
      deprecated: false
      description: ""
      operationId: Invoice_details
      parameters:
      - description: The invoice number for the invoice you'd like to retrieve
        explode: false
        in: path
        name: invoiceNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value: |-
                    {
                      "invoiceId":"0",
                      "customerEmail": "mary.rose@msn.com",
                      "customerFirstName": "Mary",
                      "customerLastName": "Rose",
                      "customerUniqueId": "8MJ7XU07D9",
                      "addressLine1": "31 Long Avenue",
                      "addressLine2": "Rickmansworth",
                      "addressPostCode": "HA94WD",
                      "addressCity": "Buckinghamshire",
                      "addressState": "Buckinghamshire",
                      "addressCountry": "United Kingdom",
                      "addressCountryCode": "GBR",
                      "invoiceNumber": "0WX1VTRPWY-1",
                      "createdOn": "2020-04-29T00:14:57.297Z",
                      "formattedAmount": "9",
                      "amount": "10",
                      "currency": "gbp",
                      "status": "active",
                      "subTotal": "400",
                      "taxTotal": "200",
                      "prorationAdjustment": "£0",
                      "prorationFactor": null,
                      "taxes": [],
                      "invoiceType": "renewal",
                      "subscriptions": [
                        {
                          "subscriptionUniqueId": "Y4EDK80W71",
                          "planName": "premium",
                          "billingPeriodStart": "2020-04-29T00:14:57.297Z",
                          "billingPeriodEnd": "2020-04-29T00:14:57.297Z",
                          "subscriptionItems": [
                            {
                              "description": "test",
                              "units": "3",
                              "unitPrice": "2",
                              "discounts": "1",
                              "amount": "7"
                            }
                          ]
                        }
                      ],
                      "companyName": "flowers",
                      "companyEmail": "flowers@flowers.com",
                      "companyTaxNumber": "12345678",
                      "companyDomain": "flowers",
                      "companyPhoneNumberDialCountry": "0044",
                      "companyPhoneNumberDialCode": "0044",
                      "companyPhoneNumber": "02088671028",
                      "companyAddressLine1": "wework, 1 fore street",
                      "companyAddressLine2": "moorgate",
                      "companyCity": "london",
                      "companyState": "london",
                      "companyPostCode": "ec2y9dt",
                      "companyCountry": "united kingdom",
                      "brandingLogo": "logo.jpg",
                      "brandingLogoBackgroundColor": "black",
                      "brandingHighlightColor": "pink",
                      "supportUrl": "support@flowers.co.uk",
                      "cardType": "mastercard",
                      "cardLast4Digits": "8972",
                      "cardExpiryMonth": "07",
                      "cardExpiryYear": "23",
                      "refundableAmount": "10",
                      "footerCompanyName": "flowers",
                      "footerAddressLine1": "wework, 1 fore street",
                      "footerAddressLine2": "moorgate",
                      "footerAddressState": "moorgate",
                      "footerAddressCity": "london",
                      "footerAddressPostCode": "ec2y9dt",
                      "footerAddressCountryISO3": "united kingdom",
                      "footerEmailAddress": "flowers@flowers.com",
                      "footerPhoneNumberDialCountry": "0044",
                      "footerPhoneNumberDialCode": "0044",
                      "footerPhoneNumber": "02088671028",
                      "supportContactHeading": "support",
                      "supportContactContent": "mary rose",
                      "supportContactSupportUrl": "support@flowers.com",
                      "supportContactSupportUrlButtonText": "support",
                      "isAdvertEnabled": "true",
                      "advertImageUrl": "advert.com",
                      "advertLinkToUrl": "advert.com"
                    }
              schema:
                $ref: '#/components/schemas/InvoiceDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/InvoiceDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Individual invoices
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices-invoiceNumber
      x-accepts: application/json
  /{companyDomain}/companies/invoices:
    get:
      deprecated: false
      description: Get a list of your company's invoices
      operationId: Invoice_listCompanyInvoices
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The page of invoices you would like to view
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of records to return per page (max 100)
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Add search terms here to filter results
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Sort the results by particular properties
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Sort the results by particular properties in descending order
        explode: true
        in: query
        name: orderByDescending
        required: false
        schema:
          type: string
        style: form
      - description: Do you want to show invoices with the status 'pending'; true
          or false
        explode: true
        in: query
        name: isPending
        required: false
        schema:
          type: boolean
        style: form
      - description: Do you want to show invoices with the status 'paid'; true or
          false
        explode: true
        in: query
        name: isPaid
        required: false
        schema:
          type: boolean
        style: form
      - description: Do you want to show invoices with the status 'unpaid'; true or
          false
        explode: true
        in: query
        name: isUnpaid
        required: false
        schema:
          type: string
        style: form
      - description: Do you want to show invoices with the status 'paid offline';
          true or false
        explode: true
        in: query
        name: isPaidOffline
        required: false
        schema:
          type: boolean
        style: form
      - description: Do you want to show invoices with the status 'written off'; true
          or false
        explode: true
        in: query
        name: isWrittenOff
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "invoiceId": 0,
                          "invoiceNumber": "string",
                          "customerId": 0,
                          "customerUniqueId": "string",
                          "customerFirstName": "string",
                          "customerLastName": "string",
                          "customerFullName": "string",
                          "createdOn": "2020-02-04T10:23:23.341Z",
                          "amount": 1000,
                          "formattedAmount": "$10"
                          "status": "string",
                          "currency": "string"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/InvoiceListCompanyInvoicesResponse'
          description: "200"
      summary: Company invoices
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-companies-invoices
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/refunds:
    post:
      deprecated: false
      description: ""
      operationId: Invoice_createRefund
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateRefundRequest'
      responses:
        "200":
          content:
            text/plain:
              examples:
                Result:
                  value: |-
                    {
                      "invoiceNumber": "string",
                      "amount": 12
                    }
              schema:
                $ref: '#/components/schemas/InvoiceCreateRefundResponse'
          description: "200"
      summary: Refund an invoice
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-customers-customerUniqueId-refunds
      x-content-type: application/json
      x-accepts: text/plain
  /{companyDomain}/invoices/{invoiceNumber}/Payment:
    put:
      deprecated: false
      description: ""
      operationId: Invoice_reattemptPayment
      parameters:
      - description: The unique identifier of the invoice in the Billsby platform
        explode: false
        in: path
        name: invoiceNumber
        required: true
        schema:
          type: string
        style: simple
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/InvoiceReattemptPaymentResponse'
          description: "200"
      summary: Reattempt invoice payment
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-invoices-invoiceNumber-Payment
      x-accepts: application/json
  /{companyDomain}/invoices/{invoiceNumber}/PaidOffline:
    put:
      deprecated: false
      description: Mark an invoice as paid offline
      operationId: Invoice_markAsPaidOffline
      parameters:
      - description: The unique identifier of the invoice in the Billsby platform
        explode: false
        in: path
        name: invoiceNumber
        required: true
        schema:
          type: string
        style: simple
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/InvoiceMarkAsPaidOfflineResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/InvoiceMarkAsPaidOffline400Response'
          description: "400"
          x-do-not-generate: true
      summary: Invoice paid offline
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-invoices-invoiceNumber-PaidOffline
      x-accepts: application/json
  /{companyDomain}/invoices/{invoiceNumber}/WrittenOff:
    put:
      deprecated: false
      description: Mark an invoice as written off
      operationId: Invoice_markWrittenOff
      parameters:
      - description: The unique identifier of the invoice in the Billsby platform
        explode: false
        in: path
        name: invoiceNumber
        required: true
        schema:
          type: string
        style: simple
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/InvoiceMarkWrittenOffResponse'
          description: "200"
      summary: Invoice written off
      tags:
      - Invoice
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-invoices-invoiceNumber-WrittenOff
      x-accepts: application/json
  /{companyDomain}/companies/creditnotes:
    get:
      deprecated: false
      description: Get a list of all your company's credit notes
      operationId: Creditnote_list
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The page of credit notes you would like to view
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of records to return per page (max 100)
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Add search terms here to filter results
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Sort the results by particular properties
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Sort the results by particular properties in descending order
        explode: true
        in: query
        name: orderByDescending
        required: false
        schema:
          type: string
        style: form
      - description: Do you want to show credit notes with the status 'pending'; true
          or false
        explode: true
        in: query
        name: isPending
        required: false
        schema:
          type: boolean
        style: form
      - description: Do you want to show credit notes with the status 'paid'; true
          or false
        explode: true
        in: query
        name: isPaid
        required: false
        schema:
          type: boolean
        style: form
      - description: Do you want to show credit notes with the status 'failed'; true
          or false
        explode: true
        in: query
        name: isFailed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "creditNoteId": 0,
                          "creditNoteUniqueId": "string",
                          "customerId": 0,
                          "customerUniqueId": "string",
                          "customerFirstName": "string",
                          "customerLastName": "string",
                          "customerFullName": "string",
                          "createdOn": "2020-04-30T10:22:14.547Z",
                          "amount": "string",
                          "status": "string",
                          "currency": "string"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/CreditnoteListResponse'
          description: "200"
      summary: Company credit notes
      tags:
      - Creditnote
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-companies-creditnotes
      x-accepts: application/json
  /{companyDomain}/customers/{customerUniqueId}/creditNotes:
    get:
      deprecated: false
      description: This query gets individual customer's credit notes
      operationId: Customer_getCreditNotes
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the customer in the Billsby platform
        explode: false
        in: path
        name: customerUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "invoiceId": 0,
                        "createdOn": "2020-04-30T11:21:42.155Z",
                        "invoiceNumber": "string",
                        "amount": "string",
                        "currency": "string",
                        "linkedTransactionsCount": 0,
                        "status": "string",
                        "paymentGatewayDisplayName": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/CustomerGetCreditNotesResponse'
          description: "200"
      summary: Customer credit notes
      tags:
      - Customer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-customers-customerUniqueId-creditNotes
      x-accepts: application/json
  /{companyDomain} /creditNotes /{creditNoteNumber} /Payment:
    put:
      deprecated: false
      description: ""
      operationId: Creditnote_reattemptPayment
      parameters:
      - description: The unique identifier of the credit note in the Billsby platform
        explode: false
        in: path
        name: creditNoteNumber
        required: true
        schema:
          type: string
        style: simple
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/CreditnoteReattemptPaymentResponse'
          description: "200"
      summary: Reattempt credit note payment
      tags:
      - Creditnote
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain
        -creditNotes -creditNoteNumber -Payment
      x-accepts: application/json
  /{companyDomain}/products/{productId}:
    get:
      deprecated: false
      description: Get the details of a specific product
      operationId: Product_getDetails
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the product in the Billsby platform
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "productCountryLimitation": {
                        "isAnyCountryAllowed": true,
                        "countrySettings": [
                          {
                            "countryIso3": "string",
                            "addressPermission": 1
                          }
                        ]
                      },
                      "productId": 0,
                      "name": "string",
                      "visibility": 0,
                      "billingCurrency": "string",
                      "billingCurrencyTemplate": "string",
                      "displayName": "string",
                      "description": "string",
                      "typeOfProduct": 1,
                      "hasPlans": true,
                      "isShippingAddressRequired": true,
                      "isShippingAddressValidationRequired": true,
                      "isBillingAddressValidationRequired": true,
                      "isAdditionalEmailRequired": true,
                      "isPhoneNumberRequired": true,
                      "isMarketingConsentRequired": true,
                      "numberOfPlans": 0,
                      "alertEmail": "string"
                    }
              schema:
                $ref: '#/components/schemas/ProductGetDetailsResponse'
          description: "200"
      summary: Product details
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-products-productId
      x-accepts: application/json
    put:
      deprecated: false
      description: Update product for your company
      operationId: Product_updateProduct
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the product in the Billsby platform
        explode: false
        in: path
        name: productID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateProductRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "productCountryLimitation": {
                        "isAnyCountryAllowed": true,
                        "countrySettings": [
                          {
                            "countryIso3": "string",
                            "addressPermission": 1
                          }
                        ]
                      },
                      "productId": 0,
                      "name": "string",
                      "visibility": 0,
                      "billingCurrency": "string",
                      "billingCurrencyTemplate": "string",
                      "displayName": "string",
                      "description": "string",
                      "typeOfProduct": 1,
                      "hasPlans": true,
                      "isShippingAddressRequired": true,
                      "isShippingAddressValidationRequired": true,
                      "isBillingAddressValidationRequired": true,
                      "isAdditionalEmailRequired": true,
                      "isPhoneNumberRequired": true,
                      "isMarketingConsentRequired": true,
                      "numberOfPlans": 0,
                      "alertEmail": "string"
                    }
              schema:
                $ref: '#/components/schemas/ProductUpdateProductResponse'
          description: "200"
      summary: Update a product
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-products-productId
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/products:
    get:
      deprecated: false
      description: ""
      operationId: Product_listProducts
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The number of the page you would like to return
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of entries per page you would like to return
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Filter products by name (this can be a partial name)
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "The type of visibility of each product; public, hidden and on-sale.\
          \ Available values: 0, 1, 2, 3 (Public=0, Hidden=1, Internal=2, OffSale=3)"
        explode: true
        in: query
        name: visibilityType
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "productId": 0,
                          "name": "Product Name",
                          "visibility": 0,
                          "billingCurrency": "USD",
                          "billingCurrencyTemplate": "$X.XX",
                          "displayName": "Product Name",
                          "description": "A description of the product",
                          "typeOfProduct": 1,
                          "hasPlans": true,
                          "isShippingAddressRequired": true,
                          "isShippingAddressValidationRequired": true,
                          "isBillingAddressValidationRequired": true,
                          "isAdditionalEmailRequired": true,
                          "isPhoneNumberRequired": true,
                          "isMarketingConsentRequired": true,
                          "numberOfPlans": 0,
                          "alertEmail": "string",
                          "customFields": [
                            {
                              "customFieldId": 0,
                              "type": 0,
                              "label": "string",
                              "description": "string",
                              "options": "string",
                              "compulsory": true
                            }
                          ],
                          "orderedCustomFields": [
                            0
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/ProductListProductsResponse'
          description: "200"
      summary: List products
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-products
      x-accepts: application/json
    post:
      deprecated: false
      description: Create a new product for your company
      operationId: Product_createNewProduct
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateNewProductRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "productCountryLimitation": {
                        "isAnyCountryAllowed": true,
                        "countrySettings": [
                          {
                            "countryIso3": "GBR",
                            "addressPermission": 1
                          }
                        ]
                      },
                      "productId": 42,
                      "name": "SAAS offering",
                      "visibility": 2,
                      "billingCurrency": "USD",
                      "billingCurrencyTemplate": "string",
                      "displayName": "SAAS offering",
                      "description": "This is our SAAS offering",
                      "typeOfProduct": 1,
                      "hasPlans": true,
                      "isShippingAddressRequired": true,
                      "isShippingAddressValidationRequired": true,
                      "isBillingAddressValidationRequired": true,
                      "isAdditionalEmailRequired": true,
                      "isPhoneNumberRequired": true,
                      "isMarketingConsentRequired": true,
                      "numberOfPlans": 0,
                      "alertEmail": "Accounts@mistimail.com"
                    }
              schema:
                $ref: '#/components/schemas/ProductCreateNewProductResponse'
          description: "200"
      summary: Create a product
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-products
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/products/{productId}/plans:
    get:
      deprecated: false
      description: Get a list of plans associated with a specific product
      operationId: Product_listPlans
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the product in the Billsby platform
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "planId": 0,
                        "name": "string",
                        "displayName": "string",
                        "description": "string",
                        "pricingModelType": 1,
                        "productId": 0,
                        "cycles": [
                          {
                            "cycleId": 0,
                            "planId": 0,
                            "pricingModel": {
                              "pricingModelId": 0,
                              "frequency": 0,
                              "frequencyType": 1,
                              "freeTrial": 0,
                              "freeTrialFrequencyType": 1,
                              "setupFeePrice": 0,
                              "setupFeePriceFormatted": "string",
                              "billingDateType": 1,
                              "fixedBillingDateDay": 0,
                              "proRateOption": 1
                            },
                            "visibility": "string"
                          }
                        ],
                        "featureTags": [
                          "string"
                        ],
                        "visibility": "string",
                        "redirectUrl": "string",
                        "hasActiveSubscription": true,
                        "alertEmail": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/ProductListPlansResponse'
          description: "200"
      summary: List plans
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-products-productId-plans
      x-accepts: application/json
    post:
      deprecated: false
      description: Create a new plan for a specific product
      operationId: Product_createPlan
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the product in the Billsby platform
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreatePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "planId": 43,
                      "name": "Premium Plan",
                      "displayName": "The Premium Plan",
                      "description": "This plan is our premium experience",
                      "pricingModelType": 1,
                      "productId": 123,
                      "cycles": [
                        {
                          "cycleId": 2,
                          "planId": 2,
                          "pricingModel": {
                            "pricingModelId": 0,
                            "frequency": 4,
                            "frequencyType": 1,
                            "freeTrial": 0,
                            "freeTrialFrequencyType": 0,
                            "contractTerm": 0,
                            "contractTermFrequencyType": 0,
                            "setupFeePrice": 15,
                            "setupFeePriceFormatted": "string",
                            "freeQuantity": 0,
                            "billingDateType": 1,
                            "fixedBillingDateDay": 0,
                            "proRateOption": 1
                          },
                          "visibility": "1"
                        }
                      ],
                      "featureTags": [
                        "string"
                      ],
                      "visibility": "public",
                      "redirectUrl": "home@mistimail.com",
                      "hasActiveSubscription": true,
                      "alertEmail": "accounts@mistimail.com"
                    }
              schema:
                $ref: '#/components/schemas/ProductCreatePlanResponse'
          description: "200"
      summary: Create a plan
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-products-productId-plans
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/products/{productId}/plans/{planId}/cycles:
    post:
      deprecated: false
      description: Create a cycle for a specific plan
      operationId: Product_createCycle
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the product in the Billsby platform
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The unique identifier of the plan in the Billsby platform
        explode: false
        in: path
        name: planId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateCycleRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "cycleId": 123,
                        "planId": 45,
                        "pricingModel": {
                          "pricingModelId": 5,
                          "frequency": 0,
                          "frequencyType": 0,
                          "freeTrial": 0,
                          "freeTrialFrequencyType": 0,
                          "contractTerm": 0,
                          "contractTermFrequencyType": 0,
                          "setupFeePrice": 0,
                          "setupFeePriceFormatted": "string",
                          "freeQuantity": 0,
                          "billingDateType": 1,
                          "fixedBillingDateDay": 0,
                          "proRateOption": 1
                        }
                      }
                    ]
              schema:
                $ref: '#/components/schemas/ProductCreateCycleResponse'
          description: "200"
      summary: Create a cycle
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-products-productId-plans-planId-cycles
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/products/{productId}/plans/{planId}:
    put:
      deprecated: false
      description: Update a plan and cycle for your company
      operationId: Product_updatePlanAndCycle
      parameters:
      - description: "Your companies Billsby subdomain - for example, if you login\
          \ at widgets.billsby.com, your companyDomain is widgets"
        explode: false
        in: path
        name: companyDomain
        required: true
[...]
